{% extends 'base.html.twig' %}

{% block title %}Accueil Connexion{% endblock %}

{% block body %}

    <h3>Mini Saint Hubert</h3>
{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            Bienvenue {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnexion</a>#}
{#        </div>#}
{#    {% endif %}#}
    <h4>Connexion</h4>

 <a class="btn btn-info" href="{{ path("loginClient") }}">
    Client
</a>
    <a class="btn btn-info" href="{{ path("loginChauffeur") }}">
    Chauffeur
</a>
{% endblock %}
