{% extends 'base.html.twig' %}

{% block title %}Connexion chauffeur{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                bienvenue {{ app.user.username }}, <a href="{{ path('app_logout') }}">deconnection</a>
            </div>
        {% endif %}


        <div class="row">
            <div class="col-sm-12 text-center">
                <p>
                <h1>Mini Saint Hubert</h1></p>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>
                <h2>Connexion Chauffeur</h2></p>
            </div>

        </div>

        <p>
        <div class="row">

            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <input type="text" placeholder="Mail" name="ta_mail" id="inputTa_mail" class="form-control" required
                       autofocus>

            </div>
        </div>
        <div class="col-sm-4"></div>
        </div>
        </p>

        <p>
        <div class="row">

            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <input type="password" placeholder="Mot de passe" name="password" id="inputPassword"
                       class="form-control" required>

            </div>
        </div>
        <div class="col-sm-4"></div>
        </div>
        </p>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >


        <div class="row">

            <div class="col-sm-4"></div>
            <div class="col-sm-4">

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
        </div>


        <p><div class="row">

            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center">
                <button class="btn btn-primary" >
                    Mot de passe oublié...
                </button>

            </div>
            <div class="col-sm-4"></div>

        </div>
        </p>

      <p>  <div class="row">

            <div class="col-sm-3"></div>
            <div class="col-sm-3 text-center">
                <button class="btn btn-success" type="submit">
                    Connexion
                </button>

            </div>
            <div class="col-sm-3 text-center">
                <a class="btn btn-warning text-light" href="{{ path("inscriptionChauffeur") }}"> Inscription</a>

                </button>


            </div>
        </div>
        </div>
        <div class="col-sm-3"></div>
        </div>
        </p>

    </form>
{% endblock %}
