{% extends 'base.html.twig' %}

{% block title %}Mini Saint Hubert{% endblock %}

{% block body %}
<div class ="row">
<div class ="col-sm-12 text-center">
<p>
    <h1>Mini Saint Hubert</h1>
    </p>
    </div>
    </div>
  <div class="row text-center">
     <div class="col-sm-12 text-center">
     <p>
     <h4>Liste des véhicules disponibles</h4>
     </p>
  </div>
  </div>
<div class="row">
<div class ="col-sm-1"></div>
    <table class="table col-sm-10 table-striped text-center">
    <thead>
    <tr>
    <th>Résultats :</th>
    </tr>
    </thead>
        <tr>
            <td>Nom du Chauffeur</td>
            <td>Prenom du Chauffeur</td>
            <td>N°Portable</td>
            <td>Véhicule</td>
            <td>Nombre de places</td>
            <td>Tarif</td>
             <td>Sélectionner</td>
        </tr>
{% for taxis in listTaxis %}
<tr>
    <td>{{ taxis.getTaNom() }}</td>
    <td>{{ taxis.getTaPrenom() }}</td>
    <td>{{ taxis.getTaPortable() }}</td>
    <td>{{ taxis.getVehicule().getVeMarque()~" / "~taxis.getVehicule().getVeModel() }}</td>
    <td>{{ taxis.getVehicule().getVeNbrPlace()}}</td>
    <td>{{ taxis.getTarif().getTfPrixttcKm() ~ " euros"}}</td>
    <td><a class="btn btn-success" type="submit" href="{{path("TaxisChoosed", {"course":course.getCoId(),"taxis":taxis.getId()})}}">Choisir</a></td>
</tr>


{% endfor %}
        {% if listTaxis|length  == 0 %}
           <tr> <td><p>Aucun résultat</p></td></tr>
        {% endif %}
    </table>
</div>
<div class ="row">
<div class = "col-sm-1"></div>
    <a class="btn btn-danger" href="{{path("ShowInterfaceClient", {"id":course.getClient().getClId()})}}">Annuler</a>
</div>

{% endblock %}
