{% extends 'base.html.twig' %}

{% block body %}
<div class ="row">
<div class ="col-sm-12 text-center">
<p>
    <h1>Mini Saint Hubert</h1>
    </p>
    </div>
    </div>
    {{ form_start(form) }}
   <div class = "row">
<div class="col-sm-3"></div>
        <div class = "form-group col-sm-2">
            {{ form_row(form.client.cl_nom, {'attr': {'class': 'form-control', 'placeholder':"Nom*"}, 'id':'nom', 'label': false })  }}
        </div>
 <div class = "form-group col-sm-2">
 {{ form_row(form.client.cl_prenom, {'attr': {'class': 'form-control', 'placeholder':"Prenom*"}, 'id':'nom', 'label': false })  }}
 </div>

 <div class = "col-sm-2">
  <button class="btn btn-primary">Modification du profil<a href="{{ path('inscriptionClient') }}"></a></button>
  </div>
  <div class="col-sm-3"></div>
 </div>

    <div class = "row">
    <div class = "col-sm-1"></div>
    <div class = "col-sm-4">
    <div class ="col-sm-12 text-center">
    <h4>liste des courses</h4>
       </div>
    <table class="table table-striped">
        <tr>
            <th>Status</th>
            <th>Taxis</th>
            <th>places</th>
            <th>Date/heure</th>
            <th>Secteur</th>
            <th>tarif</th>
        </tr>
        {% for course in listCourses %}
        <tr>
            <td>{{course.status.getStLibelle()}}</td>
            <td>{{course.Taxis.getTaNom()~" "~course.Taxis.getTaPrenom()}}</td>
            <td>{{course.Taxis.getVehicule().getVeNbrPlace()}}</td>
            <td>{{ course.getCoDate() | date('d/m/Y') }} {{course.getCoHeure() | date('H:i:s')}}</td>
            <td>{{course.secteur.getSeLibelle()}}</td>
            <td>{{course.tarif.getTfPrixttcKm()~" euros"}}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
  <div class = "col-sm-1"></div>
<div class = "col-sm-6">
    <div class ="row ">
    <div class = "col-sm-10 text-center">
    <h4 class="text-center">Création d'une course</h4>
     </div>
    </div>

    <div class="row">

          <div class="col-sm-5">
                  {{ form_row(form.course.co_date,{'attr': {'class': 'form-group'}, 'id':'datecourse', 'label': false}) }}
          </div>
           <div class="form-group col-sm-5">
                     {{ form_row(form.course.co_prise_charge,{'attr': {'class': 'form-control', 'placeholder':"Lieu de départ*"}, 'id':'depart', 'label': false}) }}
             </div>
        </div>

           <div class="row">

                  <div class=" col-sm-5">
                           {{ form_row(form.course.co_heure,{'attr': {'class': 'form-group'}, 'id':'heurecourse', 'label': false}) }}
                  </div>
                   <div class="form-group col-sm-5">
                             {{ form_row(form.course.co_destination,{'attr': {'class': 'form-control', 'placeholder':"Lieu d'arrivée*"}, 'id':'arrive', 'label': false}) }}
                     </div>
                </div>

                  <div class="row">

                                  <div class="form-group col-sm-5">
                                           {{ form_row(form.course.co_place_necessaire,{'attr': {'class': 'form-control','placeholder':"Nombre de places*"}, 'id':'nbPlace', 'label': false}) }}
                                  </div>
                                   <div class="form-group col-sm-5">
                                             {{ form_row(form.course.tarif,{'attr': {'class': 'form-control', 'placeholder':"tarif Max*"}, 'id':'tarifMax', 'label': false}) }}
                                     </div>
                                </div>



                  <div class="row">
                   <div class="form-group col-sm-2"></div>
 <div class="form-group col-sm-1">Secteur</div>
                                                 <div class="form-group col-sm-4">
                                                          {{ form_row(form.course.secteur,{'attr': {'class': 'form-control','placeholder':"Nombre de places*"}, 'id':'nbPlace', 'label': false}) }}
                                                 </div>

                                               </div>


             <div class="row">

                              <div class=" col-sm-5 text-center">
                             <button class="btn btn-success" type= "submit">Valider

                             </button>
                              </div>
                               <div class="col-sm-5 text-center">
                               {{form_widget(form.course.annuler,{'attr': {'class': 'btn btn-danger'}})}}

                                 </div>
                            </div>

</div>
    </div>

{{ form_end(form) }}



{% endblock %}

