{% extends 'base.html.twig' %}

{% block body %}
    <div class="row ">
        <div class="col-sm-12 text-center">
            <p>
            <h3>Mini Saint Hubert</h3>
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12 text-center">
            <p>
            <h4>Inscription Client</h4>
            </p>
        </div>
    </div>
    <p></p>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-3">
            {{ form_row(form.cl_nom, {'attr': {'class': 'form-control', 'placeholder':"Nom*"}, 'id':'nom', 'label': false }) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-3">

            {{ form_row(form.cl_prenom,{'attr': {'class': 'form-control', 'placeholder':"Prénom*"}, 'id':'prenom', 'label': false}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-3">
            {{ form_row(form.cl_portable,{'attr': {'class': 'form-control', 'placeholder':"N° Portable*"}, 'id':'portable', 'label': false}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-3">
            {{ form_row(form.cl_mail,{'attr': {'class': 'form-control', 'placeholder':"Email*"}, 'id':'mail', 'label': false}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-3">
            {{ form_row(form.PlainPassword.first,{'attr': {'class': 'form-control', 'placeholder':"Password*"}, 'id':'password', 'label': false}) }}
        </div>
        <div class="form-group col-sm-3">
            {{ form_row(form.PlainPassword.second,{'attr': {'class': 'form-control', 'placeholder':"Confirmer Password*"}, 'id':'confirmPassword', 'label': false}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9"> <p>* Champs Obligatoires</p></div>

    </div>
   <div class ="container">

        <div class="col-sm-12 text-justify">

                <p>
                    Nous utilisons des cookies pour nous permettre de mieux comprendre comment le siteest utilisé.
                    En continuant à utiliser ce site, vous acceptez cette politique.
                </p>



                <p><label>
                        <input type="checkbox">
                    </label> Oui, j’accepte de recevoir les offres de (Mini Saint Hubert)</p>


                <p><label>
                        <input type="checkbox">
                    </label> Oui, j’accepte de recevoir les offres des partenaires de (Mini Saint Hubert)</p>


                <p><label>
                        <input type="checkbox" id="myCheck" onclick="function myFunction() {

                               var checkBox = document.getElementById('myCheck');
                               var btnval = document.getElementById('btnValid');

                               if (checkBox.checked === true){
                                btnval.disabled = false;
                                 }
                               else {
                                btnval.disabled = true;
                               }
                        }
                                myFunction()">
                    </label> J’ai lu les Conditions générales de vente (CGV)</p>




                Raison sociale: SARL Mini Saint Hubert
                Adresse du siège social: Avenue de Denain 59300 Valenciennes
                Numéro de téléphone: 06 06 06 06 06
                Adresse de courrier électronique: mini-saint-hubert@mini-saint-hubert.fr
                Montant du capital social: 50000€
                Nom du directeur: Mr Gillard
                Site hébergé par 1 and 1 Rue du serveur qui fuit 59300 Valenciennes.
                Numéro d’inscription au registre du commerce et des sociétés: 696 731 192
                Développer par CRTL-A Développement.
                <p>Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé
                    par la société SARL Mini Saint Hubert pour des finalités de gestion de compte.
                    La base légale du traitement est fondée sur le consentement.
                    Les données collectées seront communiquées aux seuls destinataires suivants : SARL Mini Saint Hubert
                    Les données sont conservées pendant 13 ans.Vous pouvez accéder aux données vous concernant, les
                    rectifier,
                    demander leur effacement ou exercer votre droit à la limitation du traitement de vos données.
                    Vous pouvez retirer à tout moment votre consentement au traitement de vos données;
                    Vous pouvez également vous opposer au traitement de vos données;
                    Vous pouvez également exercer votre droit à la portabilité de vos donnéesConsultez le site cnil.fr
                    pour plus d’informations sur vos droits.
                    Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif,
                    vous pouvez contacter notre délégué à la protection des données : M.Cartier Michaël
                    Si vous estimez, après nous avoir contactés, que vos droits «Informatique et Libertés» ne sont pas
                    respectés, vous pouvez adresser une réclamation à la CNIL</p>

        </div>
    </div>
    </div>
    <div class="row text-center">

        <div class="col">
        </div>
        <div class="col">
            <button class="btn btn-success" type="submit" id="btnValid" disabled>Valider</button>

        </div>
        <div class="col">
            <a class="btn btn-danger text-light" href="{{ path("inscriptionAccueil") }}">Annuler</a>
        </div>
        <div class="col">
        </div>
        {{ form_end(form) }}


    </div>

{% endblock %}

