{% extends 'base.html.twig' %}

{% block title %}Accueil Inscription{% endblock %}

{% block body %}
<div class="container">
<div class="row ">
<div class="col-sm-12 text-center">
<p>
    <h3>Mini Saint Hubert</h3>
    </p>
    </div>
    </div>
    <div class="row text-center">
    <div class="col-sm-12 text-center">
    <p>
    <h4>Inscription</h4>
    </p>
 </div>
 </div>


  <div class="row text-center">

  <div class="col">
  </div>
   <div class="col">
    <a class="btn btn-primary" href="{{ path("inscriptionClient") }}">
       Client
   </a>
   </div>
     <div class="col">
     <a class="btn btn-success" href="{{ path("inscriptionChauffeur") }}">
              Chauffeur
                </a>
     </div>
    <div class="col">
     </div>


</div>
</div>
{% endblock %}
