<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome! On Mini Saint Hubert{% endblock %}</title>
        {% block stylesheets %}
         <link rel="stylesheet" href="{{asset('build/app.css')}}">
         {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}
        {% block javascripts %}
        <script src="{{asset('build/app.js')}}"></script>
        {% endblock %}
    </body>
</html>
