{% extends 'base.html.twig' %}

{% block body %}
    <p>{{ taxis.getTaNom() }}</p>
    <p>{{ taxis.getTaPrenom() }}</p>

    <h1>liste des courses acceptées</h1>
    <table class="table">

    <tr>
        <th>Date</th>
        <th>Heure</th>
        <th>client</th>
        <th>tarif</th>
        <th>status</th>
    </tr>
        {% if listCoursesAcceptedOrTerminated | length != 0 %}
            {% for course in listCoursesAcceptedOrTerminated %}
        <tr>
            <td>{{ course.getCoDate() | date('d/m/Y') }}</td>
            <td>{{ course.getCoHeure() | date('H:i:s') }}</td>
            <td>{{ course.getClient().getClNom() ~ course.getClient().getClPrenom()}}</td>
            <td>{{ course.getTarif().getTfPrixttcKm() }}</td>
            <td>{{ course.getSecteur().getSeLibelle() }}</td>
        </tr>
            {%  endfor %}
        {% endif %}
    </table>
    <h1>liste des courses disponibles</h1>
    <table class="table">
        <tr>
            <th>client</th>
            <th>Date</th>
            <th>Heure</th>
            <th>lieu départ</th>
            <th>lieu arrivée</th>
            <th>Nombre de place </th>
            <th>Tarif </th>
        </tr>
        {% if listCoursesWatting | length != 0 %}
            {% for course in listCoursesWatting %}
                <tr>
                    <td>{{ course.getClient().getClNom() ~ course.getClient().getClPrenom()}}</td>
                    <td>{{ course.getCoDate() | date('d/m/Y')}}</td>
                    <td>{{ course.getCoHeure() | date('H:i:s')}}</td>
                    <td>{{ course.getCoPriseCharge() }}</td>
                    <td>{{ course.getCoDestination() }}</td>
                    <td>{{ course.getCoPlaceNecessaire() }}</td>
                    <td>{{ course.getTarif().getTfPrixttcKm() }}</td>
                    <td><a href="{{ path("ChangeStatusToAccepted", {"course":course.getCoId(), "taxis":course.getTaxis().getId()}) }}">Accepter</a></td>
                    <td><a href="{{ path("ChangeStatusToRefused", {"course":course.getCoId(), "taxis":course.getTaxis().getId()}) }}">refuser</a></td>
                </tr>
            {%  endfor %}
        {% endif %}
    </table>
{% endblock %}

